<footer class="site-footer">
  <div class="container">
    <p>© {new Date().getFullYear()} ruuley</p>
    <ul>
      <li><a href="/sitemap.xml">Sitemap</a></li>
      <li><a href="/robots.txt">Robots</a></li>
    </ul>
  </div>
</footer>
